<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Let's Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let user of users | async"
      routerLink="/chat/{{ user.username }}"
    >
      <ion-avatar slot="start">
        <img src="{{ user.avatar }}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>{{ lastMessage(user) | async }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
